/* Add these styles in your Sidebar.css file or in your component's stylesheet */

.sidebar {
    background-color: #001f3f; /* Dark Blue */
    color: #fff; /* White */
    padding: 20px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 20px;
    border-radius: 10px;
  }
  
  .logo img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .logout {
    position: absolute;
    bottom: 20px;
  }
  